<ion-content class="ion-no-padding">

<!--  <img class="logo" src="assets/img/logo.jpg"/>-->
  <div class="container">
    <h1>Welcome to Tourist Guide</h1>
    <br>
    <br>
    <ion-button expand="block" color="danger" (click)="doGoogleLogin()">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      SIGN IN WITH GOOGLE
    </ion-button>
    <ion-button expand="block" color="primary" (click)="doFacebookbLogin()">
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      SIGN IN WITH FACEBOOK
    </ion-button>
  </div>
</ion-content>
