<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModalWithoutData()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{place.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let image of photos">
      <img [src]="image"/>
    </ion-slide>
  </ion-slides>

  <div class="ion-padding">
    <h3>{{place.formatted_address}}</h3>
    <p>{{place.formatted_phone_number}}</p>
    <p><a [href]="place.website">{{place.website}}</a></p>
    <ion-item-group *ngIf="place.opening_hours">
      <ion-item-divider>
        <ion-label>Opening Hours</ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let item of place.opening_hours.weekday_text">
        <ion-label>{{item}}</ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group *ngIf="place.reviews">
      <ion-item-divider>
        <ion-label>Reviews {{round(place.rating)}}/5</ion-label>
        <ion-badge slot="end" color="primary">{{place.user_ratings_total}} Reviews</ion-badge>
      </ion-item-divider>

      <ion-card *ngFor="let item of place.reviews">
        <ion-card-header>
          <ion-card-title>{{item.author_name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{item.text}}
        </ion-card-content>
      </ion-card>
    </ion-item-group>
  </div>
</ion-content>
